p {
    font-family: Lato;
}

.example-card {
    max-width: 300px;
    margin: 4px;
    background-color: white;
    height: 400px;
}

.example-header-image {
    background-size: cover;
}

.content {
    display: flex;
    margin-top: 160px;
}

.button-space {
    margin-right: 16px;
}

.profile-info {
    height: 120px;
}